
/*  ‰ŸÌ„«  œ—»—êÌ—‰œÂ „‰Ê */
#nav {
	color: #fff;    
    margin: 0px auto;
    padding: 0px 20px;
    height: 43px;
    
    /* ê—œ ﬂ—œ‰ êÊ‘Â Â« */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    /* background Color and Gradients*/
   background: rgb(0,0,0); 
    
    /* Borders */
   
    border: 1px solid #002232;
    border-bottom: 0;
    
     /* Box Shadows */
     
    -moz-box-shadow: inset 0px 0px 1px #edf9ff;
    -webkit-box-shadow: inset 0px 0px 1px #edf9ff;
    box-shadow: inset 0px 0px 1px #edf9ff;
}

/* ⁄‰«’— „‰ÊÌ Åœ— */
#nav ul {	
	list-style:none;
	width: 100%;
	margin:10px auto 0px auto;	
	position: relative;	
}
#nav ul li {
	float:right;	
	position:relative;	
	margin:0px 0px -1px 0px;
	text-align: right;
	padding-right: 10px;	
}
#nav ul li a {
	display:block;
	margin:0;
	padding:.6em .5em .4em;	
    color: #fff;
    text-decoration: none;    
    font-family: Tahoma, Sans-Serif;    
    font-size: 1.2em;
    font-weight: bold;
}

#nav ul li a:hover, #nav ul li.active a {
    /* —‰ê Å” “„Ì‰Â ⁄‰«’— „‰ÊÌ Åœ— */
    background: #FDFEFE;
    background: -moz-linear-gradient(top, #727272, #3E3E3E);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#727272), to(#3E3E3E));
    background: -o-linear-gradient(top, #727272, #3E3E3E);
    filter:     "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#727272', endColorstr='#3E3E3E')"; /* IE6 & IE7  */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#727272', endColorstr='#3E3E3E')"; /* IE8 */
    
    
    /* ê—œ ﬂ—œ‰ êÊ‘Â »«·« çÅ Ê »«·« —«”  */
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius:    5px 5px 0px 0px;
    -ms-border-radius:     5px 5px 0px 0px;
    -o-border-radius:      5px 5px 0px 0px;
    border-radius:         5px 5px 0px 0px;
	
}
#nav ul li:hover a,
#nav ul li.hover a { /* »Â Œ«ÿ— «Ì‰ —‰  «ﬂ”Å·Ê—— 6 Ê Å«ÌÌ‰  — */	
    text-shadow: 1px 1px 1px #000;
}


/* “Ì— „‰ÊÂ« */
#nav ul ul {
	display:none; /* “Ì— „‰ÊÂ« »Â ’Ê—  ÅÌ‘ ›—÷ „Œ›Ì Â” ‰œ */	
	position:absolute;		
	top: 33px;
	right:10px;
	margin:0;
	margin: -7 0 0 12px;
	padding-top: 3px;
	padding-bottom: 13px;
	width: 150px;
	float: right;
   list-style: none;
   text-align: right;
    z-index: 1000;
    
   /* ê—œ ﬂ—œ‰ êÊ‘Â »«·« çÅ Ê Å«ÌÌ‰ —«”  Ê çÅ */
   
   -moz-border-radius: 5px 0px 5px 5px;
   -webkit-border-radius: 5px 0px 5px 5px;
   border-radius: 5px 0px 5px 5px;

   /* —‰ê Å” “„Ì‰Â Ê ê—«œÌ‰  “Ì— „‰Ê */
   
   background: #f4f4f4;
   background: -moz-linear-gradient(top, #eeeeee, #bbbbbb);
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#bbbbbb));
   background: -o-linear-gradient(top, #eeeeee, #bbbbbb);  
   filter:     "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#70404040',  endColorstr='#70404040')"; /* IE6 & IE7  */
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#70404040', endColorstr='#70404040')"; /* IE8 */
   background: rgba(64,64,64,.6);
	
}
#nav ul ul.dropdownproducts
{
    width: 200px;
}
#nav ul ul li {
   padding:0;
   float: none;   
   text-align: right;
   font-size: .9em;
   font-family: Tahoma, Sans-Serif;    
   line-height: 24px;  
}
#nav ul ul li a {width: 95%;}
#nav ul ul li a,
#nav ul li.active li a,
#nav ul li:hover ul li a,
#nav ul li.hover ul li a { /* »Â Œ«ÿ— «Ì‰ —‰  «ﬂ”Å·Ê—— 6 Ê Å«ÌÌ‰  — */	
    z-index: 1000;
    padding:0;
    padding: 1px 5px 1px 1px;    
    /*color:#015b86;    */
    color: #eee;
    margin:0;    
    border-bottom: 1px solid #000;
}
#nav ul ul li a:hover,
#nav ul li.active ul li a:hover,
#nav ul li:hover ul li a:hover,
#nav ul li.hover ul li a:hover { /* »Â Œ«ÿ— «Ì‰ —‰  «ﬂ”Å·Ê—— 6 Ê Å«ÌÌ‰  — */
    color:#029feb;
    font-size: 14px;
    /* ê—œ ﬂ—œ‰ êÊ‘Â »«·« çÅ Ê »«·« —«”  */
    -webkit-border-radius: 0px;
    -moz-border-radius:    0px;
    -ms-border-radius:     0px;
    -o-border-radius:      0px;
    border-radius:         0px;
}

/* ‰„«Ì‘ “Ì—„‰ÊÂ« »« Â«Ê— ﬂ—œ‰ */
#nav ul li:hover ul,
#nav ul li.hover ul { /* »Â Œ«ÿ— «Ì‰ —‰  «ﬂ”Å·Ê—— 6 Ê Å«ÌÌ‰  — */
	display:block; /* ‰„«Ì‘ “Ì—„‰ÊÂ« */
}